#homeTitle{
    display: flex;
    justify-content: center;
    align-items: center;
}

#compotion{
    width: 30vw;
    height: 100px;
    background-color: gray;
    text-align: center;
    border-radius: 10px;
}

#table{
    border: solid;
    line
}