

#navBar {
    width: 100vw;
    height: 100px;
    background-color: rgb(205, 0, 0);
    display: flex;
    justify-content: center;

}

#createButton{
    font-size: large;
    padding: 5px 20px;
    margin-top: 20px;
}

#sighnUpButton{
    margin-top: 15px;
    font-size: large;
    background-color: rgb(255, 203, 203);
    border-radius: 5px;
}
#sighnUpButton:hover{
    cursor: pointer;
}