

.exitButton {
    width: 18px;
    height: 18px;
    position: relative;
    transition: ease-in-out .3s;
    margin-top: 5px;
    
}

.exitButton::before, .exitButton::after {
    content: ' ';
    position: absolute;
    left: 9px;
    height: 18px;
    width: 2px;
    background-color: rgba(224, 224, 224, 0.857);
   
  }

.exitButton::before{
    transform: rotate(45deg);
}

.exitButton::after{
    transform: rotate(-45deg);
}
.exitButton:hover::before , .exitButton:hover::after{
    box-shadow:
    0 0 .5px .5px rgba(255, 255, 255, 0.484);
    background-color: rgb(198, 198, 198);
   
}

.exitButton:hover{
    transform: scale(1.25);
    
}


.gButtons{
    width: fit-content;
    height: 20px;
    margin: 5px;
    background-color: rgb(148, 148, 148);
    padding: 5px;
    margin: 10px;
    border-radius: 3px;
    text-align: center;

}

.gButtons:hover{
    transform: scale(1.1);
    box-shadow: 3px 3px 5px 1px rgba(0,0,0,.8);
}

.blur{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 5000px;
    z-index: 2;
    background-color: rgba(158, 158, 158, 0.908);
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }
