
.screenBlur{
    width: 100vw;
    height: 100vh;
    background-color: rgba(147, 147, 147, 0.789);

   position: absolute;
   top: 0px;
}

.errorSpacing{
    position: fixed;
    top: 20vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.errorBox{
   
    width: 300px;
    min-height: 100px;
    height: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(0, 75, 128, 0.855);
    color: rgb(5, 0, 24);
}

#top{
    height: 70%;
    text-align: center;
}

.text-width{
    margin-top: -15px;
    margin-left: 10px;
    margin-right: 10px;
}

.dismiss{
    position: relative;
    border-radius: 0px 0px 15px 15px;
    width: 300px;
    height: 30%;
    background-color: rgb(255, 255, 255);
    border-top:1px solid rgba(0, 75, 128, 0.855);;
    text-align: center;
}

.dismiss:hover{
    background-color: rgb(221, 221, 221);
}

.center-text{
    margin-top: 20px;
}