#line{
    width: 98vw;
    height: 5px;
    border-radius: 3px;
    background-color: red;
    margin-top: 25px;
}


.comps{
    width: 300px;
    height: 120px;
    padding: 10px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-radius: 4px;
    border-color: black;
    margin: 20px;
}

.space{
    margin: 0px 10px;
}



#createBackground{
    
    width: 80vw;
    height: auto;
    padding: 0px 15px;
    margin: 40px 0px;
    left: 10vw;
    overflow: auto;
    padding-bottom: 10px;
    background-color: rgb(227, 88, 88);

    display: flex;
    
    align-items: center;
    flex-direction: column;
}


.compDays{
    width: 500px;
    min-height: 200px;
    max-height: auto;
    background-color: lightgrey;
}

.removeComp{
    position: absolute;
    top: 30vh;
    display: flexbox;
    width: auto;
    height: auto;
    padding: 3px 10px 10px 10px;
    background-color: rgb(255, 0, 0);
    z-index: 20;
}

#deleateText{
    margin-top: -8px;
}

.clickable:hover{
    cursor: pointer;
}

.eventsBlock{
    display: flex;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    margin: 5px 0px;
    padding: 1px 0px;
    width: 70%;
    height: 40px;
    
}

.spaceTxt{
    width: 60%;
}

.editEventBackground{
   
    height: auto;
    width: auto;
    padding: 10px 20px;
    border-radius: 3px;
    background-color: rgb(236, 233, 212);
    z-index: 30;
}

.inputSwimmers{

    height: 200px;
    width: 300px;

    overflow-y: scroll;
    margin: 10px 10px;
}

.names{
    background-color: aqua;
    height: 17px;
    min-width: 200px;
    padding: 4px 8px;
    border-radius: 3px;
    margin-top: 10px;
    margin: 3px 10px;
    text-align: left;
    
}

.namesBackground{
    background-color: white;
    height: 210px;
    width: auto;
    padding-top: 10px;
    max-height: 200px;
    overflow-y: auto;
}

.postionBlock{
    position: relative;
    left: 100px;
    top: -125px;
    
    
}




